@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* https://www.figma.com/file/uTqR0lHE5h000d3wKIE2jm/horseClub?node-id=657%3A264&mode=dev */
.fullscreen {
  background-image: url(./image/background.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.fullscreen__sky {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 25%;
  width: 100%;
}
.fullscreen__lefttrees {
  position: absolute;
  left: 0;
  bottom: 120px;
  z-index: 0;
}
.fullscreen__leftbush {
  position: absolute;
  left: 0;
  bottom: 120px;
  width: 130px;
  animation: lbush 2.5s linear infinite alternate;
}
@keyframes lbush {
  0% {
    transform: translate(-10px) rotate(-2deg);
  }
}
.fullscreen__rightbush {
  position: absolute;
  right: 0;
  bottom: 60px;
  width: 110px;
}
.fullscreen__smallhourse {
  position: absolute;
  left: 38%;
  bottom: 100px;
  width: 213px;
}
.fullscreen__barn {
  position: absolute;
  bottom: 80px;
  left: 10%;
  width: 428px;
  z-index: 1;
}
.fullscreen__seagulles {
  position: absolute;
  top: 80px;
  right: 140px;
  filter: drop-shadow(1px 15px 4px #000);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.header__logo {
  width: 100px;
}
.header__nav {
  margin-left: 100px;
}
.header__link {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 500;
  letter-spacing: 2px;
  margin-left: 20px;
  transition: 0.5s;
}
.header__link:hover {
  cursor: pointer;
}
.header__link:nth-child(1) {
  border-bottom: 2px solid #218321;
}
.header__phone {
  color: #000;
  font-family: "Roboto", sans-serif;
}
.header__txt {
  color: #7b7b7b;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin: 5px 0 0 30px;
}
.header__input {
  display: none;
}
.header__mobile-line {
  display: none;
}
.header__mobile-txt {
  display: none;
}
.header__list {
  display: none;
}

.block-info {
  width: 990px;
  margin: 0 auto;
  display: flex;
  margin-top: 100px;
  position: relative;
  justify-content: space-between;
}
.block-info__left {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.block-info__title {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  line-height: 61px;
  text-align: left;
}
.block-info__text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #646464;
}
.block-info__btn {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  width: 300px;
  /*height: 70px; */
  background: linear-gradient(to bottom right, #fbff01, #b7c40c);
  border-radius: 5px;
  border-bottom: 4px solid #8a921b;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.block-info__btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  z-index: 1;
}
.block-info__btn::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 100px;
  border-radius: 50%;
  filter: blur(30px);
  background: rgba(255, 255, 255, 0.8117647059);
  top: -65px;
  left: 40px;
  animation: fsbtn 10s linear infinite;
}
@keyframes fsbtn {
  0% {
    background-color: #ffffff;
  }
  10% {
    background-color: rgba(255, 255, 255, 0.8117647059);
  }
}
.block-info__right {
  width: 500px;
  opacity: 0;
}

.section-about {
  width: 990px;
  margin: 0 auto;
}
.section-about__title {
  text-align: center;
  font-family: "Philosopher", sans-serif;
}
.section-about__block {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.section-about__box {
  display: flex;
  flex-wrap: wrap;
}
.section-about__inside {
  width: 248px;
  height: 101px;
  margin: 0 auto;
}
.section-about__inside-number {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #008139;
}
.section-about__inside-txt {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.section-about__text {
  color: #7E7E7E;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-left: 30px;
}

.main__title2 {
  font-family: "Philosopher", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
}

.main__title3 {
  font-family: "Philosopher", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}

.section2 {
  display: flex;
  width: 990px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0 10px;
}
.section2__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2__block-img {
  width: 80px;
  height: 81px;
}
.section2__block-title {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  margin-top: 5px;
  text-align: center;
}
.section2__block-txt {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-top: 3px;
  color: #7E7E7E;
  text-align: center;
}

.section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 160px;
  margin: 50px auto;
  background-image: url(./image/Небо\ 1.png);
  background-size: cover;
  padding-bottom: 400px;
}
.section3__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: -moz-min-content;
  height: min-content;
  border-radius: 5px;
  box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.07);
  margin: 50px auto;
  padding: 0px 30px;
  background-color: #ffffff;
}
.section3__block:nth-child(5) {
  transform: translateY(50px);
}
.section3__block-img {
  transform: translateY(-50px);
  transition: 0.5s;
}
.section3__block-img:hover {
  transform: scale(1.1) translateY(-50px);
}
.section3__block-title {
  color: #363434;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  transform: translateY(-30px);
}
.section3__block-line {
  width: 30px;
  height: 1px;
  background-color: #008139;
  margin: 25px 0;
  transform: translateY(-30px);
}
.section3__block-txt {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #7E7E7E;
  transform: translateY(-30px);
  transition: 0.5s;
}
.section3__block-txt:hover {
  color: #000;
  transform: translateY(-30px) scale(1.1);
}
.section3__btn {
  font-size: 25px;
  font-weight: 600;
  padding: 17px 70px;
  background: linear-gradient(to bottom right, #fbff01, #b7c40c);
  border-radius: 5px;
  position: absolute; /* 
transform: translateY(900px) translateX(455px); */
  bottom: -2000px;
  left: 610px;
}
.section3__btn:hover {
  cursor: pointer;
}
.section3__btn::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 100px;
  border-radius: 50%;
  filter: blur(30px);
  background: rgba(255, 255, 255, 0.8117647059);
  top: -65px;
  left: 40px;
  animation: fsbtn 10s linear infinite;
}

.section4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-376px);
  overflow: hidden;
}
.section4__sky {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}
.section4__btn {
  font-size: 25px;
  font-weight: 600;
  padding: 17px 70px;
  background: linear-gradient(to bottom right, #fbff01, #b7c40c);
  border-radius: 5px;
  height: 70px;
  position: relative;
  align-items: center;
  overflow: hidden;
  transform: translateY(30px);
  transition: 0.5s;
}
.section4__btn:hover {
  cursor: pointer;
  transform: translateY(30px) scale(1.2);
}
.section4__btn::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 100px;
  border-radius: 50%;
  filter: blur(30px);
  background: rgba(255, 255, 255, 0.8117647059);
  top: -65px;
  left: 40px;
}

@media (max-width: 1999px) {
  .fullscreen__sky {
    z-index: 1;
  }
  .fullscreen__lefttrees {
    width: 380px;
    left: 0;
    bottom: 120px;
  }
  .fullscreen__smallhourse {
    left: 50%;
    width: 300px;
    bottom: 80px;
  }
  .fullscreen__barn {
    bottom: 0;
    left: 15%;
    z-index: 0;
    width: 600px;
  }
  .header {
    max-width: 100%;
    justify-content: space-around;
    padding-top: 20px;
  }
  .header__logo {
    width: 11%;
  }
  .header__nav {
    margin-left: 100px;
  }
  .header__link {
    font-size: 15px;
    text-shadow: 3px 3px 4px #000;
    transition: 5s;
  }
  .header__icon {
    width: 20px;
    margin-right: 10px;
  }
  .header__phone {
    font-size: 15px;
  }
  .header__txt {
    color: #7b7b7b;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-top: 8px;
  }
  .block-info__btn {
    padding: 22px 80px;
  }
}
@media (max-width: 1199px) {
  .fullscreen {
    overflow: hidden;
    align-items: center;
    height: 100vh;
  }
  .fullscreen__sky {
    left: 0;
    bottom: 9%;
    width: 100%;
    height: 19%;
    z-index: 3;
  }
  .fullscreen__lefttrees {
    position: absolute;
    left: 0;
    bottom: 120px;
    width: 200px;
  }
  .fullscreen__leftbush {
    width: 65px;
    bottom: 90px;
  }
  .fullscreen__rightbush {
    width: 55px;
    bottom: 60px;
  }
  .fullscreen__smallhourse {
    position: absolute;
    left: 38%;
    bottom: 100px;
    width: 213px;
    z-index: 2;
  }
  .fullscreen__barn {
    position: absolute;
    bottom: 80px;
    left: 15%;
    width: 350px;
    z-index: 1;
  }
  .fullscreen__seagulles {
    z-index: 0;
  }
  .block-info {
    width: 100%;
    align-items: center;
  }
  .block-info__btn {
    margin-top: 25px;
  }
  .block-info__right {
    width: 40%;
    transform: translateY(-80px);
    display: none;
  }
  .section3__block:nth-child(5) {
    transform: translateY(30px);
  }
}
@media (max-width: 991px) {
  .fullscreen {
    width: 100%;
    /* &__sky {
        bottom: 9%;
    } */
  }
  .fullscreen__leftbush {
    display: none;
  }
  .fullscreen__rightbush {
    display: none;
  }
  .fullscreen__seagulles {
    width: 15%;
  }
  .fullscreen__smallhourse {
    display: none;
  }
  .fullscreen__lefttrees {
    width: 20%;
  }
  .fullscreen__barn {
    z-index: 0;
  }
  .header {
    margin: 0 20px 0 20px;
  }
  .header__info {
    display: none;
  }
  .block-info__left {
    align-items: center;
  }
  .block-info__text {
    text-align: center;
  }
  .block-info__title {
    text-align: center;
  }
  .block-info__right {
    width: 350px;
    margin-top: 35px;
    z-index: 2;
  }
  .section-about {
    width: 100%;
  }
  .section-about__inside {
    width: 200px;
    height: 90px;
    margin: 0 auto;
  }
  .section-about__text {
    padding: 20px 0 0 30px;
    margin: 0;
    width: 100%;
  }
  .section2 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header__logo {
    width: 150px;
  }
  .header__nav {
    display: none;
  }
  .header__info {
    display: none;
  }
  .header__input {
    display: none;
  }
  .header__input-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #008139;
    width: 77px;
    height: 29px;
    padding: 7px;
    border-radius: 3px;
  }
  .header__mobile-line {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #008139;
    position: relative;
    transition: 1s;
  }
  .header__mobile-line::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    top: 5px;
    background-color: #008139;
  }
  .header__mobile-line::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    top: -5px;
    background-color: #008139;
  }
  .header .header__input[type=checkbox]:checked ~ .header__label .header__input-btn .header__mobile-line {
    transform: rotate(-90deg);
    z-index: 2;
  }
  .header .header__input[type=checkbox]:checked ~ .header__label .header__input-btn .header__mobile-line::after {
    transform: rotate(60deg);
    top: 0;
    z-index: 2;
  }
  .header .header__input[type=checkbox]:checked ~ .header__label .header__input-btn .header__mobile-line::before {
    transform: rotate(-60deg);
    top: 0;
    z-index: 2;
  }
  .header__mobile-txt {
    display: block;
    font-family: "Roboto";
  }
  .block-info__left {
    align-items: center;
  }
  .block-info__right {
    display: none;
  }
  .section-about__img {
    display: none;
  }
  .section4__btn {
    margin: 0 auto;
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */