* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    list-style: none; 
    box-sizing: border-box; 
    text-decoration: none; 
}

        /* https://www.figma.com/file/uTqR0lHE5h000d3wKIE2jm/horseClub?node-id=657%3A264&mode=dev */

$width: 990px;

.fullscreen{
    background-image: url(./image/background.png);
    background-size: cover;
    height: 100vh;

    &__sky {
        position: absolute;
        left: 0;
        bottom: 52px;
        width: 100%;
    }
    &__lefttrees {
        position: absolute;
        left: 0;
        bottom: 120px;
        z-index: 0;
    }
    &__leftbush {
        position: absolute;
        left: 0;
        bottom: 120px;
        width: 130px;
        animation: lbush 5s linear infinite alternate;
    }
    @keyframes lbush {
        0% {
            transform: translate(-30px) rotate(-5deg);
        }
    }
    &__rightbush {
        position: absolute;
        right: 0;
        bottom: 60px;
        width: 110px;
    }
    &__smallhourse {
        position: absolute;
        left: 38%;
        bottom: 100px;
        width: 213px;
    }
    &__barn {
        position: absolute;
        bottom: 80px;
        left: 10%;
        width: 428px;
        z-index: 1;
    }
    &__seagulles {
        position: absolute;
        top: 80px;
        right: 140px;
    }
}
.header {
    max-width: $width;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    &__nav {
        margin-left: 15%;
    }
    &__link {
        font-family: 'Roboto', sans-serif;
        color: #000;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 2px;
        margin-left: 20px;
        transition: 0.5s;
    }
    &__link:hover {
        cursor: pointer;
        font-size: 18px;
    }
    &__link:nth-child(1) {
        border-bottom: 2px solid #218321;
    }
    &__phone {
        color: #000;
        font-family: 'Roboto', sans-serif;
    }
    &__txt {
        color: #7b7b7b;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin-top: 5px;
        transform: translate(22px);
    }
}
.block-info {
    width: $width;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    position: relative;

    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        line-height: 61px;
        text-align: left;
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color: #646464;
    }
    &__btn {
        font-size: 25px;
        font-weight: 600;
        padding: 17px 70px;
        background: linear-gradient(to bottom right, #fbff01, #b7c40c);
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        transition: 0.5s;
    }
    &__btn:hover {
        cursor: pointer;
        transform: scale(1.2);
        z-index: 1;
    }
    &__btn::after {
        position: absolute;
        content: '';
        width: 200px;
        height: 100px;
        border-radius: 50%;
        filter: blur(30px);
        background: #FFFFFFCF;
        top: -65px;
        left: 40px;
        animation: fsbtn 10s linear infinite;
    }
    @keyframes fsbtn {
        0% {
            background-color: #ffffff;
        }
        10% {
            background-color: #FFFFFFCF;
        }
    }
    &__right {
        max-width: 500px;
    }
}
.section-about {
    width: $width;
    margin: 0 auto;

    &__title {
        text-align: center;
        font-family: "Philosopher", sans-serif;
    }
    &__block {
        display: flex;
        align-items: center;
    }
    &__box {
        display: flex;
        flex-wrap: wrap
    }
    &__inside {
        width: 248px;
        height: 101px;
        margin: 0 auto;
    }
    &__inside-number {
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: left;
        color: #008139;
    }
    &__inside-txt {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 600;
    }
    &__text {
        color: #7E7E7E;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin: 20px 0 0 30px;
    }
}
.main__title2 {
    font-family: "Philosopher", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
}
.main__title3 {
    font-family: "Philosopher", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}
.section2 {
    display: flex;
    width: $width;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 25px;

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__block-img{
        width: 80px;
        height: 81px;
    }
    &__block-title {
        font-family: "Roboto", sans-serif;
        font-size: 19px;
        margin-top: 5px;
    }
    &__block-txt {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        margin-top: 3px;
        color: #7E7E7E;
        text-align: center;
    }
}
.section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 160px;
    margin: 50px auto;
    background-image: url(./image/Небо\ 1.png);
    background-size: cover;

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: min-content;
        border-radius: 5px;
        box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.07);
        margin: 50px auto;
        padding: 0px 30px;
        background-color: #ffffff;
    }
    &__block:nth-child(5) {
        transform: translateY(50px);
        margin-bottom: 400px;
    }
    &__block-img {
        transform: translateY(-50px);
    }
    &__block-title {
        color: #363434;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        transform: translateY(-30px);
    }
    &__block-line {
        width: 30px;
        height: 1px;
        background-color: #008139;
        margin: 25px 0;
        transform: translateY(-30px);
    }
    &__block-txt {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #7E7E7E;
        transform: translateY(-30px);
    }
    &__btn {
        font-size: 25px;
        font-weight: 600;
        padding: 17px 70px;
        background: linear-gradient(to bottom right, #fbff01, #b7c40c);
        border-radius: 5px;
        position: absolute;
        transform: translateY(900px) translateX(455px);
    }
    &__girl-hourse {
        position: absolute;
        bottom: -100%;
        left: 0;
        z-index: 3;
    }
    &__boy-hourse {
        position: absolute;
        top: 0;
        right: 0;
    }
    &__sky {
        position: absolute;
        width: 100%;
        transform: translateY(67pc);
        left: 0;
    }
}