* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    list-style: none; 
    box-sizing: border-box; 
    text-decoration: none; 
}

        /* https://www.figma.com/file/uTqR0lHE5h000d3wKIE2jm/horseClub?node-id=657%3A264&mode=dev */

$width: 990px;

.fullscreen{
    background-image: url(./image/background.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__sky {
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 25%;
        width: 100%;
    }
    &__lefttrees {
        position: absolute;
        left: 0;
        bottom: 120px;
        z-index: 0;
    }
    &__leftbush {
        position: absolute;
        left: 0;
        bottom: 120px;
        width: 130px;
        animation: lbush 2.5s linear infinite alternate;
    }
    @keyframes lbush {
        0% {
            transform: translate(-10px) rotate(-2deg);
        }
    }
    &__rightbush {
        position: absolute;
        right: 0;
        bottom: 60px;
        width: 110px;
    }
    &__smallhourse {
        position: absolute;
        left: 38%;
        bottom: 100px;
        width: 213px;
    }
    &__barn {
        position: absolute;
        bottom: 80px;
        left: 10%;
        width: 428px;
        z-index: 1;
    }
    &__seagulles {
        position: absolute;
        top: 80px;
        right: 140px;
        filter: drop-shadow( 1px 15px 4px #000);
    }
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;

    &__logo {
        width: 100px;
    }
    &__nav {
        margin-left: 100px;
    }
    &__link {
        font-family: 'Roboto', sans-serif;
        color: #000;
        font-weight: 500;
        letter-spacing: 2px;
        margin-left: 20px;
        transition: 0.5s;
    }
    &__link:hover {
        cursor: pointer;
    }
    &__link:nth-child(1) {
        border-bottom: 2px solid #218321;
    }
    &__phone {
        color: #000;
        font-family: 'Roboto', sans-serif;
    }
    &__txt {
        color: #7b7b7b;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin: 5px 0 0 30px;
    }
    &__input {
        display: none;
    }
    &__mobile-line{
        display: none;
    }
    &__mobile-txt {
        display: none;
    }
}
.block-info {
    width: $width;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    position: relative;
    justify-content: space-between;

    &__left {
        max-width: 700px;
        margin: 0 auto;
    }
    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        line-height: 61px;
        text-align: left;
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color: #646464;
    }
    &__btn {
        font-size: 25px;
        font-weight: 600;
        padding: 17px 70px;
        background: linear-gradient(to bottom right, #fbff01, #b7c40c);
        border-radius: 5px;
        border-bottom: 4px solid #8a921b;
        position: relative;
        overflow: hidden;
        transition: 0.5s;
    }
    &__btn:hover {
        cursor: pointer;
        transform: scale(1.2);
        z-index: 1;
    }
    &__btn::after {
        position: absolute;
        content: '';
        width: 200px;
        height: 100px;
        border-radius: 50%;
        filter: blur(30px);
        background: #FFFFFFCF;
        top: -65px;
        left: 40px;
        animation: fsbtn 10s linear infinite;
    }
    @keyframes fsbtn {
        0% {
            background-color: #ffffff;
        }
        10% {
            background-color: #FFFFFFCF;
        }
    }
    &__right {
        width: 500px;
        opacity: 0;
    }
}
.section-about {
    width: $width;
    margin: 0 auto;

    &__title {
        text-align: center;
        font-family: "Philosopher", sans-serif;
    }
    &__block {
        display: flex;
        align-items: center;
    }
    &__box {
        display: flex;
        flex-wrap: wrap
    }
    &__inside {
        width: 248px;
        height: 101px;
        margin: 0 auto;
    }
    &__inside-number {
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: left;
        color: #008139;
    }
    &__inside-txt {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 600;
    }
    &__text {
        color: #7E7E7E;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin: 20px 0 0 30px;
    }
}
.main__title2 {
    font-family: "Philosopher", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
}
.main__title3 {
    font-family: "Philosopher", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}
.section2 {
    display: flex;
    width: $width;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 25px;

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__block-img{
        width: 80px;
        height: 81px;
    }
    &__block-title {
        font-family: "Roboto", sans-serif;
        font-size: 19px;
        margin-top: 5px;
    }
    &__block-txt {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        margin-top: 3px;
        color: #7E7E7E;
        text-align: center;
    }
}
.section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 160px;
    margin: 50px auto;
    background-image: url(./image/Небо\ 1.png);
    background-size: cover;
    padding-bottom: 400px;

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: min-content;
        border-radius: 5px;
        box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.07);
        margin: 50px auto;
        padding: 0px 30px;
        background-color: #ffffff;
    }
    &__block:nth-child(5) {
        transform: translateY(50px);
    }
    &__block-img {
        transform: translateY(-50px);
        transition: 0.5s;
    }
    &__block-img:hover {
        transform: scale(1.1) translateY(-50px);
    }
    &__block-title {
        color: #363434;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        transform: translateY(-30px);
    }
    &__block-line {
        width: 30px;
        height: 1px;
        background-color: #008139;
        margin: 25px 0;
        transform: translateY(-30px);
    }
    &__block-txt {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #7E7E7E;
        transform: translateY(-30px);
        transition: 0.5s;
    }
    &__block-txt:hover {
        color: #000;
        transform: translateY(-30px) scale(1.1);
    }
    &__btn {
        font-size: 25px;
        font-weight: 600;
        padding: 17px 70px;
        background: linear-gradient(to bottom right, #fbff01, #b7c40c);
        border-radius: 5px;
        position: absolute;/* 
        transform: translateY(900px) translateX(455px); */
        bottom: -2000px;
        left: 610px;
    }
    &__btn:hover {
        cursor: pointer;
    }
    &__btn::after {
        position: absolute;
        content: '';
        width: 200px;
        height: 100px;
        border-radius: 50%;
        filter: blur(30px);
        background: #FFFFFFCF;
        top: -65px;
        left: 40px;
        animation: fsbtn 10s linear infinite;
    }
}
.section4 {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-376px);
    overflow: hidden;

    &__sky {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        animation: sky3 1s linear infinite alternate;
    }
    @keyframes sky3 {
        
    }
    &__btn {
        font-size: 25px;
        font-weight: 600;
        padding: 17px 70px;
        background: linear-gradient(to bottom right, #fbff01, #b7c40c);
        border-radius: 5px;
        height: 70px;
        position: relative;
        align-items: center;
        overflow: hidden;
        transform: translateY(30px);
        transition: 0.5s;
    }
    &__btn:hover {
        cursor: pointer;
        transform: translateY(30px) scale(1.2);
    }
    &__btn::after {
        position: absolute;
        content: '';
        width: 200px;
        height: 100px;
        border-radius: 50%;
        filter: blur(30px);
        background: #FFFFFFCF;
        top: -65px;
        left: 40px;
    }
}

@media (max-width: 1999px) {
    .fullscreen{

        &__sky {
            z-index: 1;
        }
        &__lefttrees {
            width: 380px;
            left: 0;
            bottom: 120px;
        }
        &__smallhourse {
            left: 50%;
            width: 300px;
            bottom: 80px;
        }
        &__barn {
            bottom: 0;
            left: 15%;
            z-index: 0;
            width: 600px;
        }
    }
    .header {
        max-width: 100%;
        justify-content: space-around;
        padding-top: 20px;
    
        &__logo {
            width: 11%;
        }
        &__nav {
            margin-left: 100px;
        }
        &__link {
            font-size: 15px;
            text-shadow: 3px 3px 4px #000;
            transition: 5s;
        }
        &__icon {
            width: 20px;
            margin-right: 10px;
        }
        &__phone {
            font-size: 15px;
        }
        &__txt {
            color: #7b7b7b;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            margin-top: 8px;
        }
    }
    .block-info {
        
        &__btn {
            padding: 22px 80px;
        }
    }
}

@media (max-width: 1199px) {
    .fullscreen {
        overflow: hidden;
        align-items: center;
        height: 100vh;

        &__sky {
            left: 0;
            bottom: 9%;
            width: 100%;
            height: 19%;
            z-index: 3;
        }
        &__lefttrees {
            position: absolute;
            left: 0;
            bottom: 120px;
            width: 200px;
        }
        &__leftbush {
            width: 65px;
            bottom: 90px;
        }
        &__rightbush {
            width: 55px;
            bottom: 60px;
        }
        &__smallhourse {
            position: absolute;
            left: 38%;
            bottom: 100px;
            width: 213px;
            z-index: 2;
        }
        &__barn {
            position: absolute;
            bottom: 80px;
            left: 15%;
            width: 350px;
            z-index: 1;
        }
        &__seagulles {
            z-index: 0;
        }
    }
    .block-info {
        width: 100%;
        align-items: center;
    
        &__btn {
            margin-top: 25px;
        }
        &__right {
            width: 40%;
            transform: translateY(-80px);
            display: none;
        }
    }
    .section3 {
        
        &__block:nth-child(5) {
            transform: translateY(30px);
        }
    }
}

@media (max-width: 991px) {
    .fullscreen {
        width: 100%;

        &__leftbush {
            display: none;
        }
        &__rightbush {
            display: none;
        }
        &__seagulles {
            width: 15%;
        }
        &__smallhourse {
            display: none;
        }
        &__lefttrees {
            width: 20%;
        }
        &__barn {
            z-index: 0;
        }
        /* &__sky {
            bottom: 9%;
        } */
    }
    .header {
        margin: 0 20px 0 20px;
        &__info {
            display: none;
        }
    }
    .block-info {

        &__text {
            text-align: center;
        }
        &__title {
            text-align: center;
        }
        &__right {
            width: 350px;
            margin-top: 35px;
            z-index: 2;
        }
    }
    .section-about {
        width: 100%;

        &__inside {
            width: 200px;
            height: 90px;
            margin: 0 auto;
        }
        &__text {
            padding: 20px 0 0 30px;
            margin: 0;
            width: 100%;
        }
    }
    .section2 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0;

        &__logo {
            width: 150px;
        }
        &__nav {
            display: none;
        }
        &__info {
            display: none;
        }
        &__input {
            display: none;
        }
        &__input-btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 2px solid #008139;
            width: 77px;
            height: 29px;
            padding: 7px;
            border-radius: 3px;
        }
        &__mobile-line{
            display: block;
            width: 10px;
            height: 2px;
            background-color: #008139;
            position: relative;
        }
        &__mobile-line::after {
            position: absolute;
            content: '';
            width: 10px;
            height: 2px;
            top: 5px;
            background-color: #008139;
        }
        &__mobile-line::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 2px;
            top: -5px;
            background-color: #008139;
        }
        &__mobile-txt {
            display: block;
            font-family: 'Roboto';
        }
    }
    .block-info {
        &__btn {
            margin-left: 100px;
        }
        &__right {
            display: none;
        }
    }
}